{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscription à l'activité {{ activite.nom }}</h1>
    <h3>Jour</h3>
    <p>{{ activite.jour }}</p>
    <h3>Heure</h3>
    <p>{{ activite.heure|date('H:i') }}</p>
    <h3>Tarif</h3>
    <p>{{ activite.tarif }} €</p>
{% endblock %}