<h1 style="color:red;">Bijoux et déco</h1>
<h2>Description</h2>
<p>Création de bijoux avec plastique fou, fimo, fils shamballa et autres. 
Les décorations sont essentiellement réalisées avec des matériaux de récupération 
(papier soie, carton, bouchons, bouteilles en plastique etc) pour guirlandes, fleurs, soliflores et autres.</p

<p>Les objectifs : convivialité, échange des idées, confiance en soi-même.</p>

<p>Les adhérents repartent avec leurs créations.</p>
<h2>Limite d'âge : </h2>
<p>Tout public</p>
<h2>Tarif</h2>
<p>50€/60€/70€</p>
<h2>Catégorie</h2>
<p>Rond-Point Artistique</p>
